body {
  background: #FFFFCC;
}

.paragragh {
  margin: 50px;
  text-align: justify;
}

.submain img{
  width: 10%;
  height: 10%;
}

.footer {
  position: relative;
  margin: 80px 0 0;
  padding: 10px;
  text-align: center;
  background-color: black;
}

.noOrgFound {
  margin: 50px;
}


