<!DOCTYPE html>
<html ng-app="gitHub">
  <head>
    <title>Dashboard for Andela GitHub Users</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
    
  </head>

  <body ng-controller="GitCtrl">

    <div class="container">
      <div class="row">
        <div class="col-md-12 main">
          <div class="paragragh">
          <h1 class="page-header">Dashboard</h1><br/>
          <p>Becoming a programmer takes a small bit of intelligence and a LOT of persistence. Writing code regularly keeps your brain focused and helps you grasp difficult concepts. In order to encourage consistent coding, we've built a leaderboard for any organization. Input your organization name and a leaderboard would appear below. The more you repositories, the higher up the leaderboard you'll get!</p>
        </div>
          <div>
            <p>Enter a single Github organisation below and click the button to display organisation leaderboard.</p>
            <div class="col-md-6 main">
            <input type="text" class="form-control" id="ghorgname" ng-model="orgname" placeholder="Github organization..."><br/>
            <button type="button" class="btn btn-primary" id="ghsubmitbtn" ng-click="getGitInfo()">Generate Organisation Leaderboard</button>
            </div>
            <div id="ghapidata" class="clearfix"></div>
          </div>
          
          <div ng-show = "loaded">
          <h2 class="sub-header">{{companyName | uppercase}} Leaderboard</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Member</th>
                    <th>Name</th>
                    <th>Number of Repos</th>
                    <th>Follwers</th>
                    <th>Following</th>
                    <th title="Commits for last one year on authored public project(s)">Commits</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member in members | orderBy: '-repoNum'">
                    <td><a href="{{member.userGitUrl}}">{{member.login}}</a></td>
                    <td>{{member.fullName}}</td>
                    <td>{{member.repoNum}}</td>
                    <td>{{member.followers}}</td>
                    <td>{{member.following}}</td>
                    <td>{{member.commits}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="noOrgFound" ng-show="orgNotFound">
            <h4>No Organization found!</h4>
          </div>

        </div>
      </div>
    </div>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="js/angular/angular.min.js"></script>
    <script src="js/controller/gitstatsController.js"></script>
  </body>
</html>